In [11]:
import pandas as pd

target_path = 'Data/Target/'
stage_path = 'Data/Stage/'

dim_city = pd.read_csv(target_path + 'DimCity.csv')
customer = pd.read_csv(stage_path + 'customer.csv')

In [12]:
dim_city.head()

   CityKey  StateKey          CityName
0        1         1        Shreveport
1        2         1         Covington
2        3         2           Atlanta
3        4         3          Columbia
4        5         2  Avondale Estates

In [13]:
df = pd.merge(customer, dim_city, how='left', left_on='City', right_on='CityName')

In [14]:
cols = ['CustomerKey', 'CityKey', 'Customer Last Name', 'Customer First Name', 'Phone']
rename = {'Customer ID': 'CustomerKey'}
df.rename(columns=rename, inplace=True)
df[cols]

,CustomerKey,CityKey,Customer Last Name,Customer First Name,Phone
0,1234,1,Hughes,Lewis,504-870-1437
1,1235,2,Gomez,Ali,337-400-1567
2,1236,3,Beck,Mila,404-573-7088
3,1237,4,Juarez,Ryleigh,252-325-9603
4,1238,5,Preston,Leonidas,404-383-9724
...,...,...,...,...,...
1083,2227,1,Robbins,Crew,318-125-1831
1084,2228,25,Salinas,Willow,404-248-4929
1085,2229,1,Bond,Malachi,318-485-3209
1086,2230,2,Willis,Patrick,337-795-4890
1087,2231,11,Compton,Dallas,704-863-4035

In [15]:
df[cols].to_csv(target_path + 'DimCustomer.csv', index=False)