In [1]:
import pandas as pd

target_path = 'Data/Target/'
stage_path = 'Data/Stage/'

dim_city = pd.read_csv(target_path + 'DimCity.csv')
customer = pd.read_csv(stage_path + 'customer.csv')

In [2]:
customer['Customer ID'].value_counts()

Customer ID
1588    2
1373    2
1234    1
1903    1
1891    1
       ..
1571    1
1572    1
1573    1
1574    1
2231    1
Name: count, Length: 998, dtype: int64

In [6]:
dim_city['CityName'].value_counts()

CityName
Shreveport           1
Covington            1
Sunny Isles Beach    1
Bainbridge           1
Stuart               1
Camden               1
St. Petersburg       1
Palmetto             1
Columbus             1
Savannah             1
Chapel Hill          1
Baton Rouge          1
Birmingham           1
New Orleans          1
Montgomery           1
Mobile               1
Asheville            1
Charlotte            1
Adamsville           1
Bluffton             1
Greenville           1
Charleston           1
Avondale Estates     1
Columbia             1
Atlanta              1
Fleming Island       1
Name: count, dtype: int64

In [5]:
customer.drop_duplicates(subset=['Customer ID'], inplace=True)
customer['Customer ID'].value_counts()

Customer ID
1234    1
1904    1
1891    1
1892    1
1893    1
       ..
1571    1
1572    1
1573    1
1574    1
2231    1
Name: count, Length: 998, dtype: int64

In [7]:
df = pd.merge(customer, dim_city, how='left', left_on='City', right_on='CityName')

In [8]:
cols = ['CustomerKey', 'CityKey', 'Customer Last Name', 'Customer First Name', 'Phone']
rename = {'Customer ID': 'CustomerKey'}
df.rename(columns=rename, inplace=True)
df[cols]

     CustomerKey  CityKey Customer Last Name Customer First Name         Phone
0           1234        1             Hughes               Lewis  504-870-1437
1           1235        2              Gomez                 Ali  337-400-1567
2           1236        3               Beck                Mila  404-573-7088
3           1237        4             Juarez             Ryleigh  252-325-9603
4           1238        5            Preston            Leonidas  404-383-9724
..           ...      ...                ...                 ...           ...
993         2227        1            Robbins                Crew  318-125-1831
994         2228       24            Salinas              Willow  404-248-4929
995         2229        1               Bond             Malachi  318-485-3209
996         2230        2             Willis             Patrick  337-795-4890
997         2231       11            Compton              Dallas  704-863-4035

[998 rows x 5 columns]

In [9]:
df['CustomerKey'].value_counts()

CustomerKey
1234    1
1904    1
1891    1
1892    1
1893    1
       ..
1571    1
1572    1
1573    1
1574    1
2231    1
Name: count, Length: 998, dtype: int64

In [24]:
df[df['CustomerKey'] == 1588]

,Customer Last Name,Customer First Name,CustomerKey,Product Category,Order Date,Quantity Ordered,Order Status,State,Address,City,Postal Code,Sale Price,Phone,CityKey,StateKey,CityName
354,Vega,Blake,1588,Books,2022-12-02,5,Delivered,GA,63913 Valley View Drive,Columbus,31901,329,762-827-9216,19,2,Columbus
858,Vega,Blake,1588,Personal Care,2022-12-03,17,Shipped,GA,63913 Valley View Drive,Avondale Estates,30002,214,678-878-1111,5,2,Avondale Estates

In [10]:
df[cols].to_csv(target_path + 'DimCustomer.csv', index=False)