In [9]:
import pandas as pd

def generate_date_df(start=pd.Timestamp('2021-01-01 00:00:00'), end=pd.Timestamp('2021-12-31 00:00:00')):
    df = pd.DataFrame(pd.date_range(start, end), columns=['Date'])
    # df = pd.DataFrame(pd.date_range(start, end), columns=['Date'])
    df['DateKey'] = df['Date'].dt.strftime('%Y%m%d')
    df['Month'] = df['Date'].dt.month
    df['Day'] = df['Date'].dt.day
    df['WeekDayName'] = df['Date'].dt.day_name()

    return df

df = generate_date_df(pd.Timestamp('2022-10-01 00:00:00'), pd.Timestamp('2022-12-31 00:00:00'))
df

         Date   DateKey  Month  Day WeekDayName
0  2022-10-01  20221001     10    1    Saturday
1  2022-10-02  20221002     10    2      Sunday
2  2022-10-03  20221003     10    3      Monday
3  2022-10-04  20221004     10    4     Tuesday
4  2022-10-05  20221005     10    5   Wednesday
..        ...       ...    ...  ...         ...
87 2022-12-27  20221227     12   27     Tuesday
88 2022-12-28  20221228     12   28   Wednesday
89 2022-12-29  20221229     12   29    Thursday
90 2022-12-30  20221230     12   30      Friday
91 2022-12-31  20221231     12   31    Saturday

[92 rows x 5 columns]

In [10]:
df.to_csv('Data/Target/DimDate.csv', index=False)