In [1]:
import pandas as pd
import numpy as np

target_path = 'Data/Target/'
stage_path = 'Data/Stage/'
dataset_path = r'Data\Original\Dataset.xlsx'

dict_df = pd.read_excel(dataset_path, 
                            sheet_name=[i for i in range(4)])

customer = dict_df.get(3)
sales = pd.concat([dict_df.get(i) for i in range(3)])
sales.shape

(3000, 14)

In [2]:
len(sales['Product Category'].unique())

7

In [3]:
cols = ['ProductCatalogKey', 'ProductCatalogName']
product = pd.DataFrame(sales['Product Category'].unique(), columns=['ProductCatalogName'])
product['ProductCatalogKey'] = product.index + 1
product[cols]

   ProductCatalogKey ProductCatalogName
0                  1           Clothing
1                  2     Home & Kitchen
2                  3      Personal Care
3                  4        Electronics
4                  5               Pets
5                  6  Sports & Outdoors
6                  7              Books

In [4]:
product[cols].to_csv(target_path + 'DimProduct.csv', index=False)

In [5]:
cols = ['SaleAgentKey', 'SaleAgentName']

sale_agent = pd.DataFrame(sales['Sales Agent'].unique(), columns=['SaleAgentName'])
sale_agent['SaleAgentKey'] = sale_agent.index + 1

sale_agent[cols]

   SaleAgentKey SaleAgentName
0             1         Kelly
1             2         Brian
2             3      Terrence
3             4        Daniel
4             5     Priscilla

In [6]:
sale_agent[cols].to_csv(target_path + 'DimSalesAgent.csv', index=False)

In [7]:
order_cols = ['OrderStatusKey', 'OrderStatusName']
order_status = pd.DataFrame(sales['Order Status'].unique(), columns=['OrderStatusName'])
order_status['OrderStatusKey'] = order_status.index + 1
order_status

  OrderStatusName  OrderStatusKey
0       Delivered               1
1         Shipped               2
2       Cancelled               3
3      In Transit               4

In [8]:
order_status[order_cols].to_csv(target_path + 'DimOrderStatus.csv', index=False)

In [9]:
return_reason_cols = ['ReturnReasonKey', 'ReturnReasonName']
return_reason = pd.DataFrame(sales['Return Reason'].unique(), columns=['ReturnReasonName'])
return_reason['ReturnReasonKey'] = return_reason.index + 1
return_reason.replace(np.nan, 'Dont have', inplace=True)
return_reason

      ReturnReasonName  ReturnReasonKey
0            Dont have                1
1            Defective                2
2        Late Delivery                3
3        Quality Issue                4
4  Received Wrong Item                5
5          Unsatisfied                6

In [10]:
return_reason[return_reason_cols].to_csv(target_path + 'DimReturnReason.csv', index=False)