In [ ]:
%pip install -r requires.txt

In [1]:
import pandas as pd

dataset_path = r'Data\Original\Dataset.xlsx'
stage_base_path = r'Data\Stage'

dict_df = pd.read_excel(dataset_path, 
                            sheet_name=[i for i in range(4)])

customer = dict_df.get(3)
sales = pd.concat([dict_df.get(i) for i in range(3)])
sales.shape

(3000, 14)

In [5]:
print(len(customer['Customer ID'].unique()))
a = set(sales['Customer ID'])
b = set(customer['Customer ID'])
a == b

998

True

In [8]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Order ID              3000 non-null   int64
 1   Customer Last Name    3000 non-null   object
 2   Customer First Name   3000 non-null   object
 3   Customer ID           3000 non-null   int64
 4   Product Category      3000 non-null   object
 5   Order Date            3000 non-null   datetime64[ns]
 6   Quantity Ordered      3000 non-null   int64
 7   Order Status          3000 non-null   object
 8   State                 3000 non-null   object
 9   Manufacturer Price    3000 non-null   int64
 10  Sale Price            3000 non-null   int64
 11  Total Profit (GMROI)  3000 non-null   int64
 12  Sales Agent           3000 non-null   object
 13  Return Reason         309 non-null    object
dtypes: datetime64[ns](1), int64(6), object(7)
memory usage: 351.6+ KB

In [9]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Customer Last Name   1000 non-null   object
 1   Customer First Name  1000 non-null   object
 2   Customer ID          1000 non-null   int64
 3   Product Category     1000 non-null   object
 4   Order Date           1000 non-null   datetime64[ns]
 5   Quantity Ordered     1000 non-null   int64
 6   Order Status         1000 non-null   object
 7   State                1000 non-null   object
 8   Address              1000 non-null   object
 9   City                 1000 non-null   object
 10  Postal Code          1000 non-null   int64
 11  Sale Price           1000 non-null   int64
 12  Phone                1000 non-null   object
dtypes: datetime64[ns](1), int64(4), object(8)
memory usage: 101.7+ KB

In [55]:
sales10 = dict_df.get()
sales10[sales10['Customer ID'] == 1588]

,Order ID,Customer Last Name,Customer First Name,Customer ID,Product Category,Order Date,Quantity Ordered,Order Status,State,Manufacturer Price,Sale Price,Total Profit (GMROI),Sales Agent,Return Reason
354,2355,Vega,Blake,1588,Books,2022-11-08,20,Shipped,GA,1070,1351,281,Kelly,NaN
858,2859,Vega,Blake,1588,Personal Care,2022-11-25,6,In Transit,GA,1390,1581,191,Kelly,NaN

In [53]:
sales10[sales10['Customer ID'] == 1373]

,Order ID,Customer Last Name,Customer First Name,Customer ID,Product Category,Order Date,Quantity Ordered,Order Status,State,Manufacturer Price,Sale Price,Total Profit (GMROI),Sales Agent,Return Reason
139,1140,Shepherd,Charli,1373,Clothing,2022-10-17,12,Delivered,SC,1005,1219,214,Kelly,NaN
381,1382,Shepherd,Charli,1373,Sports & Outdoors,2022-10-26,12,Cancelled,SC,740,847,107,Brian,Unsatisfied

In [10]:
sales.to_csv(stage_base_path + r'\sales.csv', index=False)
customer.to_csv(stage_base_path + r'\customer.csv', index=False)

In [29]:
cols = ['Sale Price', 'Manufacturer Price', 'Total Profit (GMROI)']
list(filter(lambda x: x[0] - x[1] == x[2]), sales[cols])

ValueError: invalid literal for int() with base 10: 'S'

In [40]:
temp = list(sales['Sale Price'] - sales['Manufacturer Price'] == sales['Total Profit (GMROI)'])
len(list(filter(lambda x: not x, temp)))

0